.main-pg-btn {
  border: 0;
  font-size: 20px;
  font-weight: 200;
  padding: 8px;
  border-radius: 8px;
}

.main-pg-btn:hover {
  background: black !important;
  color: white !important;
  transition: all 0.5s ease-in-out;
}
