:root {
  --ivory: #E4E4De;
  --sage: #C4C5BA;
  --eerie-blk: #1B1B1B;
  --moss: #595f39;
}

.playfair-display-header {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.playfair-display-header-2 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.content-container {
  background: var(--ivory) !important;
}

.pg-header {
  margin-top: 64px;
}

.main-pg-btn {
  background: var(--ivory) !important;
  border: 0;
  font-size: 32px;
  font-weight: 200;
  padding: 16px;
  border-radius: 8px;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  margin-top: 12px;
}

.main-pg-btn:hover {
  background: var(--moss) !important;
  color: var(--ivory) !important;
  margin-top: 0px;
  margin-bottom: 12px;
  -moz-box-shadow: 0px 0px 4px 1px grey;
  -webkit-box-shadow: 0px 0px 4px 1px grey;
  box-shadow: 0px 0px 4px 1px grey;
  transition: all 0.5s ease-in-out;
}

.main-pg-col {
  margin-top: 48px;
}

.socials {
  margin-top: 48px;
}

.project {
  display: inline-block;
  position: relative;
  width: 30%;
  border-radius: 8px;
}

.project:hover {
  background: black;
  padding-left: 16px;
  color: white;
  transition: all 0.5s ease-in-out;
}

.project-link:hover {
  color: white;
  transition: all 1s ease-in-out;
}

a {
  color: inherit;
}
