.main-pg-btn {
  border: 0;
  font-size: 20px;
  font-weight: 200;
  padding: 8px;
  border-radius: 8px;
}

.main-pg-btn:hover {
  background: black !important;
  color: white !important;
  transition: all 0.5s ease-in-out;
}

.main-pg-row {
  width: 34%;

}

.main-pg-about-me {
  padding-left: 8px;
  padding-right: 8px;
}

.main-pg-about-me-header {
  background: black;
  color: white;
  padding-left: 16px;
  border-radius: 8px 8px 0px 0px;
}

.socials {
  margin-top: 48px;
}

.project {
  display: inline-block;
  position: relative;
  width: 30%;
  border-radius: 8px;
}

.project:hover {
  background: black;
  padding-left: 16px;
  color: white;
  transition: all 0.5s ease-in-out;
}

.project-link:hover {
  color: white;
  transition: all 1s ease-in-out;
}

a {
  color: inherit;
}

.ivory-bkg {
  background: #E4E4De;
}

.sage-bkg {
  background: #C4C5BA;
}

.eerie-blk-bkg {
  background: #1B1B1B;
}

.moss-bkg {
  background: #595f39;
}
