.main-pg-btn {
  border: 0;
  font-size: 20px;
  font-weight: 200;
  padding: 8px;
  border-radius: 8px;
}

.main-pg-btn:hover {
  background: black !important;
  color: white !important;
  transition: all 0.5s ease-in-out;
}

.main-pg-about-me {
  margin: 50px;
  padding-left: 8px;
  padding-right: 8px;
}

.main-pg-about-me-header {
  background: black;
  color: white;
  padding-left: 16px;
  border-radius: 8px 8px 0px 0px;
}

.socials {
  margin-top: 48px;
}
