{% extends "base.html" %}
{% block title %} Projects {% endblock %}
{% block content %}

<div class="main-pg-about-me">
  <div class="main-pg-about-me-header"> <p>About me: </p> </div>
  <p align="left" > I am a software engineer and programming enthusiast! I attended university of San francisco with a major in Computer Science. My work history includes frontend web development at a Silicon Valley startup with enterprise clients as well as freelance software-development and consulting work. Additionaly, I have been a diagnostic server engineer at a computer manufacturing warehouse. At this site you can check out my personal projects, look at examples of my work, or read my blog. In my blog I showcase my skills by writing about my academic, professional, and personal experiences. I also simply enjoy writing about technology. Thanks for visiting!</p>
</div>


{% endblock %}
