<!doctype html>
<html class="content-container">

<head>
  <!--- import google font --->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
  <!--- import bootstrap --->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!--- import local stylesheets --->
  <link rel="stylesheet" href="{{url_for('static', filename='styles/main-pg-styles.css') }}">
  <link rel="stylesheet" href="{{url_for('static', filename='styles/base-styles.css') }}">
  <title>{% block title %}{% endblock %}</title>
</head>

<body class="content-container">
  <div class="info-btn-container">
    <button class="info-btn">
      <img class="info-btn-img" src="{{url_for('static', filename='images/info.png') }}" />
    </button>
  </div>
  {% block content %}
  {% endblock %}
  <!--- more bootstrap --->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
