:root {
  --ivory: #E4E4De;
  --sage: #C4C5BA;
  --eerie-blk: #1B1B1B;
  --moss: #595f39;
}

.playfair-display-header {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.playfair-display-header-2 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.content-container {
  background: var(--ivory) !important;
}
